*
{
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav-row
{
	background-color: black;
	position: relative;
	z-index: 3;
}

.navbar
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 20px;
	align-items: center;
}

.logo-col
{
	flex-basis: 25%;
	margin: 10px 0;

}

.burger-col
{
	flex-basis: 25%;
}

.hamburger
{
	background-color: transparent;
	font-size: 35px;
	width: 50px;
	display: none ;
	color: white;
}




.nav-links-col
{
	flex-basis: 50%;
	text-align: right;	
	
}

ul li
{
	display: inline-block;
	margin: 0 20px;
}

ul li a
{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;

}

ul li a:hover
{
	transition: 1s ease-in;
	color: salmon;
}	

.more-text
{
	text-align: center;
	margin-top: 3em;
}

.more-button
{
	font-size: 20px;
	margin-top: 1em;
	border: none;
	padding: 10px 20px;
	color: #51baa4;
	border: 1px solid #51baa4;
	background-color: white;
	font-weight: bold;
}

.more-button:hover
{
	transition: 1s ease;
	background-color: #51baa4;
	color: white;
}

.more
{
	margin-top: 7em;
}

.more-h1
{
	font-size: 40px;
	font-family: 'Proza Libre', sans-serif;
}

.more-p
{
	font-size: 20px;
	margin-top: 5px;
	font-family: 'Darker Grotesque', sans-serif;
}

.more-row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.more-left-col
{
	flex-basis: 35%;
	text-align: right;
}

.more-right-col
{
	flex-basis: 35%;
	text-align: center;
}

.more-h11
{
	margin-top: 1em;
	font-family: 'Raleway', sans-serif;
}

.more-p1
{
	margin-top: 1em;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 17px;
}

.more-button1
{
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 1em;
	border: none;
	border: 1px solid #51baa4;
	color: #51baa4;
	background-color: white;
	font-weight: bold;
}

.more-button1:hover
{
	transition: 1s ease;
	background-color: #51baa4;
	color: white;
}

/*---------------------------------------------*/

.more1
{
	margin-top: 7em;
}

.more1-row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.more1-right-col
{
	flex-basis: 35%;
}

.more1-left-col
{
	flex-basis: 35%;
	text-align: center;
}

.more1-h12
{
	margin-top: 2em;
	font-family: 'Raleway', sans-serif;
}

.more1-p2
{
	margin-top: 1em;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 17px;
}

.more1-button2
{
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 1em;
	border: none;
	border: 1px solid #51baa4;
	color: #51baa4;
	background-color: white;
	font-weight: bold;
}

.more1-button2:hover
{
	transition: 1s ease;
	background-color: #51baa4;
	color: white;
}

/*--------------------------------------------*/

.more2
{
	margin-top: 7em;
}

.more2-row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.more2-left-col
{
	flex-basis: 35%;
	text-align: right;
}

.more2-right-col
{
	flex-basis: 35%;
	text-align: center;
}

.more2-h13
{
	margin-top: 2em;
	font-family: 'Raleway', sans-serif;
}

.more2-p3
{
	margin-top: 1em;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 17px;
}

.more2-button3
{
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 1em;
	border: none;
	border: 1px solid #51baa4;
	color: #51baa4;
	background-color: white;
	font-weight: bold;
}

.more2-button3:hover
{
	transition: 1s ease;
	background-color: #51baa4;
	color: white;
}

/*-----------------------------------------*/

.more3
{
	margin-top: 7em;
}

.more3-row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.more3-right-col
{
	flex-basis: 35%;
}

.more3-left-col
{
	flex-basis: 35%;
	text-align: center;
}

.more3-h14
{
	margin-top: 2em;
	font-family: 'Raleway', sans-serif;
}

.more3-p4
{
	margin-top: 1em;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 17px;
}

.more3-button4
{
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 1em;
	border: none;
	border: 1px solid #51baa4;
	color: #51baa4;
	background-color: white;
	font-weight: bold;
}

.more3-button4:hover
{
	transition: 1s ease;
	background-color: #51baa4;
	color: white;
}

/*-----------------------------------------------------*/


.contact
{
	background-color: #1e2832;
	text-align: center;
	margin-top: 3em;

}

.contact-text
{
	padding-top: 7em;
	font-family: 'Proza Libre', sans-serif;
}

.contact-h1
{
	margin-bottom: 50px;
	font-size: 50px;
	color: white;
}

.contact-form
{
	margin-top: 2em;
}

.contact-input
{
	font-size: 20px;
	margin: 0 5px;
	width: 30%;
	height: 50px;
	padding: 11px;
	background-color: #ffffff0d;
	border: none;
	border-radius: 5px;
	font-family: 'Darker Grotesque', sans-serif;
}

.contact-block
{
	display: block;
}

.contact-input-text
{
	width: 61%;
	height: 200px;
	font-size: 20px;
	margin-top: 10px;
	background-color: #ffffff0d;
	border: none;
	border-radius: 5px;
	padding: 11px;
	font-family: 'Darker Grotesque', sans-serif;
}

.contact-input-btn
{
	display: inline-block;
	margin: auto;
	font-size: 17px;
	padding: 10px 50px;
	border-radius: 20px;
	color: white;
	border: 3px solid #51baa4;
	font-weight: bold;
	margin-top: 2em;
	background-color: #51baa4;
	margin-right: 20px;
	margin-bottom: 3em;
}

.contact-input-btn:hover
{
	transition: 1s ease;
	background-color: lightgreen;
}

#footer1
{
	text-align: center;
	background-color: #1e2832;
}


.bug
{
	text-align: center;
	margin-top: 50px;
}

.bars1,.bars2,.bars3,.bars4
{
	font-size: 30px;
	border: none;
	display: inline;
	margin: 10px 10px;
	border: solid 1px;
	border-radius: 40%;
	padding: 4px 7px;f
	flex-wrap: nowrap;	
	color: white;
}

.bars1:hover
{
	transition: 1s;
	background-color: blue;
}

.bars2:hover
{
	transition: 1s;
	background-color: orange;
}

.bars3:hover
{
	transition: 1s;
	background-color: lightblue;
}

.bars4:hover
{
	transition: 1s;
	background-color: red;
}

.text
{
	margin-top: 30px;
	color: white;
}

.h51-footer
{
	font-size: 15px;
}

.h52-footer
{
	font-size: 15px;
	margin-top: 5px;
	padding-bottom: 10px;
}

@media screen and (max-width: 1024px)
{
	.nav-row:hover
	{
		transition: 1s ease;
	}

	.navbar
	{
		display: flex;
		flex-wrap: wrap;
		margin: 0 20px;
		align-items: center;
	}

	.logo-col
	{
		flex-basis: 48%;
		margin: 0;
		
		

	}

	.burger-col
	{
		flex-basis: 48%;
		text-align: center;
		
	}


	.nav-links-col
	{
		flex-basis: 100%;
		text-align: center;	
		display: none;
	}


	.nav-links-col.show
	{
		display: block;
	}

	.hamburger
	{
		display: block;
		border: none;
	}	

	ul li
	{
		display: block;
		padding: 30px;
	}

	ul li a
	{
		padding: 10px 40px;
		font-size: 17px;
	}

	ul li a:hover
	{
		transition: 1s ease;
		border-bottom: 1px solid white;
		color: salmon;
	}

	.more1-image
	{
		width: 500px;
		height: 300px;
	}


}

@media screen and (max-width: 769px)
{
	ul li
	{
		display: block;
		padding: 30px;
	}

	ul li a
	{
		font-size: 17px;
	}

	ul li a:hover
	{
		transition: 1s ease;
		border-bottom: 1px solid white;
		color: salmon;
	}


	.hamburger
	{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		border: none;
	}

	.more-button1
	{
		padding: 5px 50px;
	}

	.more1-image
	{
		width: 400px;
		height: 250px;
	}

	.more1
	{
		margin-top: 3em;
	}

	.more1-button2
	{
		padding: 5px 50px;
		margin-bottom: 3em;	
	}

	.more2-h13
	{
		margin-top: 1em;
	}

	.more2-button3
	{
		padding: 5px 50px;

	}

	.more3-h14
	{
		margin-top: 1em;
	}

	.more3-button4
	{
		padding: 5px 50px;
		margin-bottom: 3em;
	}

	.contact-h1
	{
		font-size: 40px;
	}

	.h51-footer
	{
		font-size: 13px;
	}

	.h52-footer
	{
		font-size: 13px;
	}

}

@media screen and (max-width: 426px)
{
	ul li
	{
		display: block;
		padding: 30px;
	}

	ul li a
	{
		font-size: 15px;
	}

	ul li a:hover
	{
		transition: 1s ease;
		border-bottom: 1px solid white;
		color: salmon;
	}


	.hamburger
	{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		border: none;
	}

	.logo-col
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.logologo
	{
		width: 130px;
		height: 80px;
	}

	.contact-h1
	{
		font-size: 30px;
	}

	.more1-image
	{
		width: 360px;
		height: 210px;
	}

	.more-h1
	{
		font-size: 35px;
	}

	.contact-input
	{
		width: 80%;
		margin: 5px 0;
	}

	.contact-input-text
	{
		width: 80%;
	}

	.contact-input-btn
	{
		display: block;
		margin: auto;
		margin-top: 2em;
		padding: 10px 80px;
		font-size: 16px
	}

	.h51-footer
	{
		font-size: 13px;
	}

	.h52-footer
	{
		font-size: 13px;
	}
}

@media screen and (max-width: 376px)
{
	ul li
	{
		display: block;
		padding: 30px;
	}

	ul li a
	{
		font-size: 15px;
	}

	ul li a:hover
	{
		transition: 1s ease;
		border-bottom: 1px solid white;
		color: salmon;
	}



	.hamburger
	{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		border: none;
	}

	.more-h1
	{
		font-size: 30px;
	}

	.more-h11
	{
		font-size: 25px;
	}

	.more1-h12
	{
		font-size: 25px;
	}

	.more2-h13
	{
		font-size: 25px;
	}

	.more3-h14
	{
		font-size: 25px;
	}

	.more1-image
	{
		width: 320px;
		height: 180px;
	}

	.contact-h1
	{
		font-size: 35px;
	}

	.bars1,.bars2,.bars3,.bars4
	{
		font-size: 25px;
	}

	.h51-footer
	{
		font-size: 13px;
	}

	.h52-footer
	{
		font-size: 13px;
	}

	.contact-h1
	{
		font-size: 30px;
	}

	.contact-input-btn
	{
		font-size: 14px;
	}

	.h51-footer
	{
		font-size: 13px;
	}

	.h52-footer
	{
		font-size: 13px;
	}


}

@media screen and (max-width: 321px)
{

	ul li
	{
		display: block;
		padding: 30px;
	}

	ul li a
	{
		font-size: 15px;
	}

	ul li a:hover
	{
		transition: 1s ease;
		border-bottom: 1px solid white;
		color: salmon;
	}


	.logologo
	{
		display: none;
	}

	.hamburger
	{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		border: none;
	}

	.more1-image
	{
		width: 280px;
		height: 150px;
	}

	.contact-h1
	{
		font-size: 30px;
	}

	.contact-input-btn
	{
		font-size: 14px;
	}

	.h51-footer
	{
		font-size: 13px;
	}

	.h52-footer
	{
		font-size: 13px;
	}

}